    <span>
        <img class="logo" src="http://localhost:3000/repository/images/logo2.png" alt="Home Page" routerLink="/">
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        </li>
        <li>
            <a routerLink="/transactions" routerLinkActive="active">Transactions</a>
        </li>
        <li>
            <a routerLink="/accounts" routerLinkActive="active">Account</a>
        </li>
        <li>
            <a routerLink="/profile" routerLinkActive="active">Profile</a>
        </li>
        <li>
            <a routerLink="/logout" routerLinkActive="active">Logout</a>
        </li>
    </ul>
