<div class="row">
      <mat-card-title class="avatar-title">Hello, {{user?.firstName}}</mat-card-title>
    <!-- <mat-card-content class="mat-body-1 info-text flex">Your client number: <br> 000000000{{user.clientNumber}} -->
    <!-- </mat-card-content> -->
    <br><br><br>
  
    <!-- <mat-card class="transaction-box">
      <mat-card-header>
        <div mat-card-avatar class="grid-card-header-image">
          <mat-icon class="icon">swap_horiz</mat-icon>
        </div>
        <mat-card-title>Recent Transactions</mat-card-title>
        <mat-card-subtitle>account number: {{13690000 + user.clientNumber}}</mat-card-subtitle>
        <mat-menu #appMenu1="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item routerLink="/help">Help</button>
        </mat-menu>
        <button mat-icon-button class="gear-transactions" [matMenuTriggerFor]="appMenu1">
          <mat-icon class="menu-dots">settings</mat-icon>
        </button>
      </mat-card-header>
  
      <div *ngIf="hasTransactions" class="mat-elevation-z8 list">
  
        <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  
          <ng-container matColumnDef="description">
            <th mat-header-cell class="sticky-header" *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let element"> <span class="elipsis">{{element.description}}</span> </td>
          </ng-container>
  
  
          <ng-container matColumnDef="amount">
            <th mat-header-cell class="sticky-header" *matHeaderCellDef> Amount </th>
            <td mat-cell *matCellDef="let element"> <span class="elipsis">{{element.amount}}</span> </td>
          </ng-container>
  
          <ng-container matColumnDef="senderAccountNumber">
            <th mat-header-cell class="sticky-header" *matHeaderCellDef> Account </th>
            <td mat-cell *matCellDef="let element"> <span class="elipsis">{{"200-" + element.senderAccountNumber}}</span>
            </td>
          </ng-container>
  
          <ng-container matColumnDef="date">
            <th mat-header-cell class="sticky-header" *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> <span class="elipsis">{{element.date}}</span> </td>
          </ng-container>
  
          <ng-container matColumnDef="expandedDetail">
         <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="transaction-element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="transaction-element-description">
                  Description: {{element.description}} <br>
                  Payment method: {{element.paymentMethod}} <br>
                  Receiver account: {{"200-"+element.receiverAccountNumber}} <br>
                  Date recorded : {{element.date}}
                </div>
              </div>
            </td>
          </ng-container>
  
          <tr class="header-row" mat-header-row *matHeaderRowDef="columnsToDisplayEng; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplayEng;" class="transaction-element-row"
            [class.transaction-expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="transaction-detail-row"></tr>
        </table>
      </div>
      <div *ngIf="isLoading" class="mat-elevation-z8 list">
        <mat-spinner class="spinner"></mat-spinner>
      </div>
      <div *ngIf="!hasTransactions && !isLoading" class="mat-elevation-z8 list no-overflow">
        <img mat-card-image class="no-transactions" src="http://localhost:3000/repository/images/no-transactions.jpg"
          alt="no transactions">
        <p class="no-transactions-message">You have no transactions.</p>
      </div>
    </mat-card>
  
    <mat-card class="current-balance-box">
      <mat-card-header>
        <div mat-card-avatar class="grid-card-header-image">
          <mat-icon class="icon">monetization_on</mat-icon>
        </div>
        <mat-card-title>Available balance</mat-card-title>
        <mat-card-subtitle>account number: {{13690000 + user.clientNumber}}</mat-card-subtitle>
        <mat-menu #appMenu2="matMenu">
          <button mat-menu-item>Settings</button>
          <button mat-menu-item routerLink="/help">Help</button>
        </mat-menu>
        <button mat-icon-button [matMenuTriggerFor]="appMenu2">
          <mat-icon class="menu-dots">settings</mat-icon>
        </button>
      </mat-card-header>
      <mat-card-content>
        <p class="current-balance">
          {{user.balance}}<span class="currency">,00 USD</span>
        </p>
        <p class="limit-bar-text">Used limit: {{user.usedLimit}}/{{user.limitMonthly}} USD</p>
        <mat-progress-bar class="limit-bar" mode="determinate" value="{{100*(user.usedLimit / user.limitMonthly)}}">
        </mat-progress-bar>
      </mat-card-content>
      <mat-card-actions class="current-balance-btn">
      </mat-card-actions>
    </mat-card>
 -->
</div>